## Ignore Visual Studio temporary files and solution file
##

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Solution file (optional, not currently using) is for my convenient editing of .md and text files - don't need to publish it
*.sln

# Visual Studio 2015/2017 cache/options directory
.vs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json


# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
